.submit-area{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    margin-top: 40px;
    padding: 30px;
}

#transactionArea{
    display: none;
}

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: orange;
}

.balance{
    background-color: green;
}

.status{
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 2px;    
}

.status h2,
.status h5{
    font-weight: bold;
}